
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

body
{
    font-family: fontawesome;
}
section
{
    background-color: #999999;
    width: 500px;
    text-align: center;
}
button
{
    
    outline: none;
    cursor: pointer;
    font-family: fontawesome;
    color:black;
    border-radius: 20px;
    font-size: 15px;
}
button>a
{
    text-decoration: none;
    color: black;
}
.fill>a
{
    text-decoration: none;
    color: white;
}
.fill
{
    background-color: #515151;
    color: white;
}
.hover:hover
{
    background-color: green;
}
.fill:last-child
{
    margin-bottom: 10px;
}