@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans&display=swap');

body
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}
main
{
    display: flex;
    flex-direction: column;
}
*,*::after,*::before
{
    box-sizing: inherit;
}
header section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    color: white;
  height: 5vh;
  padding: 1em 2em;
  flex-basis: 100%;
}
header div
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
header ul
{
    list-style:none;
    display: flex;
    gap: 0.5em;
}
.picture
{
    background-image: url(image/fitness-main.jpg);
    background-position-y: -20em;
    min-height:60vh;
    background-repeat: no-repeat;
}
.PainGain nav
{
   justify-content: flex-end;
   padding: 2em;
   display: flex;
   gap: 3em;
}
nav a
{
    color: white;
    text-decoration: none;
}
li a:visited
{
 color: white;
}
.PainGain div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
}
.PainGain h1
{
    color: white;
    font-size: 3em;
    letter-spacing: 10px;
}
.PainGain p
{
    color: white;
    margin-bottom: 2em;
    text-align: center;
}
.PainGain button
{
    background-color: red;
    color: white;
    font-size:1em;
    padding: 0.5em 1.5em;
    border-radius: 5px;
}
.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card p
{
    text-align: center;
}
.Welcome-cards
{
    display: flex;
    justify-content: space-around;
    height: 40vh;
}
.Welcome .card
{
    width: 20%;
    padding: 0 1em;
}
.card h4
{
   color: red;
}
.Welcome h2
{
    text-align: center;
    margin-bottom: 3em;
    margin-top: 1em;
}
.Welcome img
{
 width: 50px;
 height: 50px;
 object-fit: cover;
}
.Coaches
{
    background-color: #F0F0F0;
}
.Coaches-cards
{
    display: flex;
    justify-content: space-around;
height: 45vh;
}

.Coachcard 
{
    width: 20%;
    text-align: center;
}
.Coaches h2
{
    text-align: center;
    margin-bottom: 2em;
}
.Coachcard h4
{
    color: red;
}
.Coachcard img
{
    border-radius: 5px;
    box-shadow: 0 0 0.2em 1em rgba(0,0,0,0.4em);
}
.Coachcard p
{
    color: #A0A0A0;
}
footer
{
   display: flex;
    background-color: red;
    color: black;
    justify-content: center;
    height: 5vh;
}


.container{
    max-width: 1800px;
}